/.idea/
/client/node_modules/
/e2e_tests/node_modules/
/server/node_modules/
/spring-backend/spring-backend.iml
/spring-backend/target/
/spring-backend/.mvn/
/spring-backend/.allure/
/spring-backend/.idea/
/selenide_tests/target/
/selenide_tests/selenide_tests.iml
/selenide_tests/build/
